/* html.scss */
.html-canvas {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
}
* {
  margin: 0; padding: 0; box-sizing: border-box;
}
canvas {
  display: block;
  width: 100%;
  height: 100%;
}
