.img-shader-comp {
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(28, 28, 28);
}

.three-canvas,
canvas {
    width: 100%;
    max-height: 100vh;
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
}

.layer-canv {
    background: rgb(28, 28, 28);
    height: 100vh;
    width: 100vw;
    position: relative;
    margin: 0;
    padding: 0;
}